.header {
  text-align: center;
  font-size: 30px;
  padding: 20px;
  color: darkblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 25px;
}

.App{
  height: 100vh;
  background-color: cadetblue;
}

button {
  color: black;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 15px 0 rgba(13, 13, 13, 0.9);
}

button:hover {
  background-color: rgb(29, 5, 59);
  color: wheat;
}

button:focus {
  color: #706fd3;
  border: 2px solid rgba(112, 111, 211, 1);
  box-shadow: anim-shadow 0.3s forwards;
}

@keyframes anim-shadow {
  100% {
    box-shadow: 0 0 50px 20px rgb(112, 111, 211, 0);
  }
}

.calculator {
  color: white;
  width: 350px;
  height: 600px;
  margin: 25px auto;
  background-color: rgb(48, 12, 105);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.out-put {
    text-align: right;
    margin: 60px 30px 0;
    font-size: 2.5rem;
}


.keyboard {
  display: flex;
  flex-direction: column;
  background: rgb(7, 36, 165);
  gap: 15px;
  padding: 20px;
}

.keyboard-row {
  display: flex;
  gap: 15px;
}

.one-block {
  width: 25%;
  aspect-ratio: 1/1;
}
.two-block {
  width: calc(50% + 15px);
  aspect-ratio: 2/1;
}

